In [18]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import joblib

In [2]:
file = open("data/train-v1.1.json")

In [3]:
data = json.load(file)

In [4]:
dev_file = open("data/dev-v1.1.json")

In [5]:
dev_data = json.load(dev_file)

In [13]:
def extract_df(data_dict):
    df = pd.DataFrame()

    for title_paragraph in data_dict["data"]:
        title = title_paragraph["title"]
        for paragraph in title_paragraph['paragraphs']:
            for QNA in paragraph['qas']:
                answers = []
                answers_start = []
                for answer in QNA["answers"]:
                    answers.append(answer["text"])
                    answers_start.append(answer["answer_start"])
                question = [QNA["question"]] * len(answers)
                context = [paragraph["context"]] * len(answers)
                titles = [title] * len(answers)
                df_curr = pd.DataFrame({"title": titles,
                                        "context": context,
                                        "question": question,
                                        "answer": answers,
                                        "answer_start": answers_start})
                df = pd.concat([df, df_curr])
    return df

It takes a long time to load the data, thus we persisted it with joblib.

In [14]:
# df = extract_df(data)
# df_dev = extract_df(dev_data)

In [19]:
# joblib.dump(df, "df.joblib")
# joblib.dump(df_dev, "df_dev.joblib")

['df_dev.joblib']

In [21]:
df = joblib.load("df.joblib")
df_dev = joblib.load("df_dev.joblib")

In [23]:
df

,title,context,question,answer,answer_start
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,Saint Bernadette Soubirous,515
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,a copper statue of Christ,188
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,the Main Building,279
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,a Marian place of prayer and reflection,381
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,a golden statue of the Virgin Mary,92
...,...,...,...,...,...
0,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,229
0,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,414
0,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,476
0,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,199
0,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,0

In [24]:
df_dev

,title,context,question,answer,answer_start
0,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,Denver Broncos,177
1,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,Denver Broncos,177
2,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,Denver Broncos,177
0,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,Carolina Panthers,249
1,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,Carolina Panthers,249
...,...,...,...,...,...
0,Force,"The pound-force has a metric counterpart, less...",What is the seldom used force unit equal to on...,sthÃ¨ne,665
1,Force,"The pound-force has a metric counterpart, less...",What is the seldom used force unit equal to on...,sthÃ¨ne,665
2,Force,"The pound-force has a metric counterpart, less...",What is the seldom used force unit equal to on...,sthÃ¨ne,665
3,Force,"The pound-force has a metric counterpart, less...",What is the seldom used force unit equal to on...,sthÃ¨ne,665
4,Force,"The pound-force has a metric counterpart, less...",What is the seldom used force unit equal to on...,sthÃ¨ne,665